<div *ngIf="viewModel.displayHeader()" class="w-100 border-b-2 border-b-gray-400 sm:flex"
  [class.hidden]="viewModel.isOnAuthPage()">
  <div class="flex-grow flex flex-row justify-end items-center">
    <a class="ms-3 mt-2 me-auto inline-block cursor-pointer" routerLink="" title="Retourner sur la page d'accueil">
      <img class="img-fluid w-20 sm:w-28" src="/assets/pictures/logo_p6.png" [alt]="viewModel.appName()"
        [title]="'Logo ' + viewModel.appName()" />
    </a>
    <a *ngIf="viewModel.loggedIn()" class="mx-2 text-lg link-primary" routerLink="/posts"
      routerLinkActive="underline underline-offset-8 font-bold" title="Consulter les articles">
      <span>Articles</span>
    </a>
    <a *ngIf="viewModel.loggedIn()" class="mx-2 sm:me-6 text-lg link-primary" routerLink="/topics"
      routerLinkActive="underline underline-offset-8 font-bold" title="Consulter les themes">
      <span>Thèmes</span>
    </a>
    <a *ngIf="viewModel.loggedIn()" class="mx-2 sm:me-6 btn-sm sm:btn-md btn-circle btn-accent" pButton variant="text"
      routerLink="/account" routerLinkActive="border border-secondary" title="Accéder à mon compte">
      <span pButtonLabel><i class="pi pi-user text-xl sm:text-2xl"></i></span>
    </a>
  </div>
</div>