<div class="container-fluid min-h-full">
  <div class="row mb-3">
    <div class="col text-center">
      <app-back-button backUrl="/" />

      <div class="sm:hidden flex flex-row justify-center pt-10">
        <img class="img-fluid " src="/assets/pictures/logo_p6.png" alt="Logo Monde de dèv" />
      </div>

      <h1>Se connecter</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form [formGroup]="form" class="mx-auto sm:max-w-80" (ngSubmit)="onSubmit()">

        <p-message styleClass="mb-3" *ngIf="viewModel.formErrorMessage()" severity="error">{{
          viewModel.formErrorMessage()
          }}</p-message>

        <div class="flex flex-col mb-3">
          <label for="login">Email ou nom d'utilisateur</label>
          <input pInputText id="login" formControlName="login" aria-describedby="login-help" />
          <small id="login-help" *ngIf="form.controls.login.dirty || form.controls.login.touched" class="text-error">
            <span class="block" *ngIf="form.controls.login.hasError('required')"> Obligatoire.</span>
          </small>
        </div>

        <div class="flex flex-col mb-3">
          <label for="password">Mot de passe</label>
          <input pInputText id="password" formControlName="password" aria-describedby="password-help" type="password" />
          <small id="login-help" *ngIf="form.controls.login.dirty || form.controls.login.touched" class="text-error">
            <span class="block" *ngIf="form.controls.login.hasError('required')"> Obligatoire.</span>
          </small>
        </div>


        <p-button class="my-6 block text-center" variant="outlined" severity="contrast"
          [disabled]="!form.valid || viewModel.loading()" type="submit">
          <span pButtonLabel>Se connecter</span>
          <span *ngIf="viewModel.loading()" pButtonLabel>
            <i class="pi pi-spin pi-cog"></i>
          </span>
        </p-button>
      </form>
    </div>
  </div>
</div>