<div class="container-fluid min-h-full">
  <div class="row mb-3">
    <div class="col text-center">
      <app-back-button backUrl="/" />

      <div class="sm:hidden flex flex-row justify-center pt-10">
        <img class="img-fluid " src="/assets/pictures/logo_p6.png" alt="Logo Monde de dèv" />
      </div>

      <h1>Connection</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form [formGroup]="loginForm" class="mx-auto sm:max-w-80">

        <div class="flex flex-col mb-3">
          <label for="login">Email ou nom d'utilisateur</label>
          <input pInputText id="login" formControlName="login" />
        </div>

        <div class="flex flex-col mb-3">
          <label for="password">Mot de passe</label>
          <input pInputText id="password" formControlName="password" />
        </div>

        <p-button class="my-6 block text-center" variant="outlined" severity="contrast" (onClick)="onLogin()">
          <span pButtonLabel>Se connecter</span>
        </p-button>
      </form>
    </div>
  </div>
</div>