<div class="container max-w-6xl mx-auto relative">
  <div class="row mb-3 sticky top-0 bg-surface-0 dark:bg-surface-900 z-10 py-3">
    <div class="col">
      <app-back-button backUrl="/" />

      <h1 class="ms-24 break-words hyphens-auto line-clamp-2">{{ viewModel.post().title | titlecase
        }}</h1>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col flex flex-col sm:block sm:px-28">
      <span class="mx-4 sm:mx-10">{{ (viewModel.post().updated_at ?? viewModel.post().created_at) | nicedate }}</span>
      <span class="mx-4 sm:mx-10">{{
        (viewModel.post().author_name.length > 60) ?
        (viewModel.post().author_name | slice:0:61) + '...' :
        (viewModel.post().author_name) | titlecase
        }}</span>
      <span class="mx-4 sm:mx-10">{{ viewModel.post().topic_name | titlecase }}</span>
    </div>
  </div>
  <div class="row mb-10">
    <div class="col prose dark:prose-invert py-6 md:px-8 w-full mx-auto">
      <markdown [data]="viewModel.post().content" />
    </div>
  </div>
  <hr class="mb-5">
  <div class="row">
    <div class="col">
      <h2>Commentaires</h2>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col">
      <app-list-comments [postUuid]="viewModel.post().uuid" [reloadComments]="reloadCommentsEvent"></app-list-comments>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col pb-20">
      <app-add-comment [forPost]="viewModel.post().uuid" (commentAdded)="onCommentSubmitted($event)"></app-add-comment>
    </div>
  </div>
