<div class="container-fluid bg-gray-100 dark:bg-gray-800 rounded-lg py-4 topic-card">
  <div class="row mb-3">
    <div class="col">
      <span class="h3 font-extrabold break-all hyphens-auto line-clamp-1">{{ viewModel.topic().name | titlecase
        }}</span>
    </div>
  </div>

  <div class="row mb-6 topic-card-content">
    <div class="col-12 mt-4">
      <div class="flex justify-center items-center h-full">
        <div class="h-fit w-fit prose dark:text-gray-100 leading-[1.3rem] line-clamp-4 md:line-clamp-3">{{
          (viewModel.topic().description.length>220)? (viewModel.topic().description |
          slice:0:221)+'...':(viewModel.topic().description)
          }}</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <p-button *ngIf="viewModel.canSubscribe()" styleClass="mx-4 my-4" severity="primary" title="S'abonner à ce theme"
        (onClick)="onSubscribeClick(viewModel.topic().name)">
        <span class="inline-block min-w-32 font-bold" pButtonLabel>S´abonner</span>
      </p-button>
      <p-button *ngIf="!viewModel.canSubscribe()" styleClass="mx-4 my-4" severity="warn"
        title="Se désabonner de ce theme" (onClick)="onUnsubscribeClick(viewModel.topic().name)">
        <span class="inline-block min-w-32 font-bold" pButtonLabel>Se désabonner</span>
      </p-button>
    </div>
  </div>
</div>