<p-panel>
  <form class="container-fluid" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row justify-center relative">
      <div class="lg:col-12 xl:col-8">
        <p-message icon="pi pi-times-circle" styleClass="mb-3 " *ngIf="viewModel.formErrorMessage()" severity="error">{{
          viewModel.formErrorMessage()
          }}</p-message>

        <app-markdown-editor title="Commentaire" [textareaInput]="form.controls.content" [value]="viewModel.content()"
          [error]="viewModel.errors.content()">
          <slot right-pan>
            <p-button class="sticky top-0 mt-4 float-end z-10" variant="outlined" severity="contrast"
              [disabled]="!form.valid " type="submit">
              <span pButtonLabel>
                <i class="pi pi-send"></i>
              </span>
            </p-button>
          </slot>
        </app-markdown-editor>
        <input type="hidden" formControlName="content" />

      </div>
    </div>
  </form>
</p-panel>