<div class="container-fluid">
  <div class="row justify-center">
    <div class="lg:col-12 xl:col-8">
      <p-panel>
        <form class="row" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="col md:col-10">
            <p-message styleClass="mb-3" *ngIf="viewModel.formErrorMessage()" severity="error">{{
              viewModel.formErrorMessage()
              }}</p-message>

            <app-markdown-editor title="Commentaire" [textareaInput]="form.controls.content"
              [value]="viewModel.content()" [error]="viewModel.errors.content()"></app-markdown-editor>
            <input type="hidden" formControlName="content" />
          </div>
          <div class="col sm:pt-28">
            <p-button class="my-6 block text-center" variant="outlined" severity="contrast" [disabled]="!form.valid "
              type="submit">
              <span pButtonLabel>
                <i class="pi pi-send"></i>
              </span>
            </p-button>
          </div>
        </form>
      </p-panel>
    </div>
  </div>
</div>