<div *ngIf="viewModel.loggedIn()" class="flex justify-end items-center relative"
  [ngClass]="['flex-col gap-6 pt-20', 'flex-row'][verticalDisplay() ? 0 : 1]">
  <button *ngIf="verticalDisplay()" pButton type="button" title="Fermer le menu" (click)="onCloseMenu()"
    class="absolute top-2 right-2" text severity="contrast" size="large">
    <i class="pi pi-times"></i>
  </button>

  <a class="mx-2 text-lg link-primary" routerLink="/posts" routerLinkActive="underline underline-offset-8 font-bold"
    title="Consulter les articles" (click)="onCloseMenu()">
    <span>Articles</span>
  </a>
  <a class="mx-2 sm:me-6 text-lg link-primary" routerLink="/topics"
    routerLinkActive="underline underline-offset-8 font-bold" title="Consulter les themes" (click)="onCloseMenu()">
    <span>Thèmes</span>
  </a>
  <a class="mx-2 sm:me-6 bg-surface-100 rounded-full border-primary-100" pButton text routerLink="/account"
    routerLinkActive="border border-primary-900 border-spacing-3 text-black" title="Accéder à mon compte"
    (click)="onCloseMenu()">
    <span pButtonLabel><i class="pi pi-user text-xl sm:text-2xl"></i></span>
  </a>
</div>