@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  src: url('./../../public/assets/fonts/Inter18pt-Light.woff2') format('woff2'),
      url('./../../public/assets/fonts/Inter18pt-Light.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 200;
  src: url('./../../public/assets/fonts/Inter18pt-ExtraLight.woff2') format('woff2'),
      url('./../../public/assets/fonts/Inter18pt-ExtraLight.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  src: url('./../../public/assets/fonts/Inter18pt-Medium.woff2') format('woff2'),
      url('./../../public/assets/fonts/Inter18pt-Medium.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  src: url('./../../public/assets/fonts/Inter18pt-Bold.woff2') format('woff2'),
      url('./../../public/assets/fonts/Inter18pt-Bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: italic;
  font-weight: normal;
  src: url('./../../public/assets/fonts/Inter18pt-Italic.woff2') format('woff2'),
      url('./../../public/assets/fonts/Inter18pt-Italic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  src: url('./../../public/assets/fonts/Inter18pt-ExtraBold.woff2') format('woff2'),
      url('./../../public/assets/fonts/Inter18pt-ExtraBold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: italic;
  font-weight: 500;
  src: url('./../../public/assets/fonts/Inter18pt-MediumItalic.woff2') format('woff2'),
      url('./../../public/assets/fonts/Inter18pt-MediumItalic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: italic;
  font-weight: bold;
  src: url('./../../public/assets/fonts/Inter18pt-BoldItalic.woff2') format('woff2'),
      url('./../../public/assets/fonts/Inter18pt-BoldItalic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: italic;
  font-weight: 300;
  src: url('./../../public/assets/fonts/Inter18pt-LightItalic.woff2') format('woff2'),
      url('./../../public/assets/fonts/Inter18pt-LightItalic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  src: url('./../../public/assets/fonts/Inter18pt-Black.woff2') format('woff2'),
      url('./../../public/assets/fonts/Inter18pt-Black.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: italic;
  font-weight: 900;
  src: url('./../../public/assets/fonts/Inter18pt-BlackItalic.woff2') format('woff2'),
      url('./../../public/assets/fonts/Inter18pt-BlackItalic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: italic;
  font-weight: bold;
  src: url('./../../public/assets/fonts/Inter18pt-ExtraBoldItalic.woff2') format('woff2'),
      url('./../../public/assets/fonts/Inter18pt-ExtraBoldItalic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: italic;
  font-weight: 200;
  src: url('./../../public/assets/fonts/Inter18pt-ExtraLightItalic.woff2') format('woff2'),
      url('./../../public/assets/fonts/Inter18pt-ExtraLightItalic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: italic;
  font-weight: 600;
  src: url('./../../public/assets/fonts/Inter18pt-SemiBoldItalic.woff2') format('woff2'),
      url('./../../public/assets/fonts/Inter18pt-SemiBoldItalic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 100;
  src: url('./../../public/assets/fonts/Inter18pt-Thin.woff2') format('woff2'),
      url('./../../public/assets/fonts/Inter18pt-Thin.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: italic;
  font-weight: 100;
  src: url('./../../public/assets/fonts/Inter18pt-ThinItalic.woff2') format('woff2'),
      url('./../../public/assets/fonts/Inter18pt-ThinItalic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  src: url('./../../public/assets/fonts/Inter18pt-Regular.woff2') format('woff2'),
      url('./../../public/assets/fonts/Inter18pt-Regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  src: url('./../../public/assets/fonts/Inter18pt-SemiBold.woff2') format('woff2'),
      url('./../../public/assets/fonts/Inter18pt-SemiBold.woff') format('woff');
}
