@import url("primeicons/primeicons.css");
@import url("./vars.css");
@import url("./titles.css");
@import url("./fonts.css");

/* You can add global styles to this file, and also import other style files */
@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  /* stylelint-disable-next-line at-rule-no-unknown */
  @tailwind base;
}

@layer primeng;

@layer tailwind-utilities {
  /* stylelint-disable-next-line at-rule-no-unknown */
  @tailwind components;
  /* stylelint-disable-next-line at-rule-no-unknown */
  @tailwind utilities;
}

* {
  font-family: var(--font-default);
}

html,
body {
  height: 100dvh;
  margin: 0;

  @apply bg-surface-0;

  @media (prefers-color-scheme: dark) {
    background-color: color-mix(in srgb, var(--p-surface-900) calc(100% * var(--tw-bg-opacity, 1)), transparent);
  }

  app-root {
    display: flex;
    height: 100%;
    min-height: 100dvh;
    flex-direction: column;
    margin: 0;

    > main {
      position: relative;
      flex-grow: 1;
      padding-top: var(--page-top-padding);

      > * {
        display: block;
        height: 100%;
      }

      > router-outlet {
        display: none;
      }
    }
  }
}
