.h1,h1,
.h2,h2,
.h3,h3,
.h4,h4,
.h5,h5,
.h6,h6 {
  margin-top: 0;
  font-family: var(--title-font);
}

.h1,h1 {
  @apply text-2xl mb-3;
}

.h2,h2 {
  @apply text-xl mb-3;
}

.h3,h3 {
  @apply text-lg mb-3;
}

.h4,h4 {
  @apply text-base mb-3;
}

.h5,h5 {
  @apply text-sm mb-3;
}

.h6,h6 {
  @apply text-xs mb-2;
}
