<div class="container">
  <div class="row mb-3">
    <div class="col">
      <app-back-button backUrl="/" />

      <h1 class="hidden" aria-hidden="true">Sujets</h1>
    </div>
  </div>
  <div class="row" infiniteScroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="throttle"
    (scrolled)="onScroll()">
    <div *ngIf="!viewModel.topicList$().length" class="col">
      Aucun sujet disponible
    </div>
    <div class="col-12 md:col-6 lg:col-4" *ngFor="let topic of viewModel.topicList$()" app-topic-card [topic]="topic"
      [canSubscribe]="true" (subscribeEvent)="onSubscribe($event)"></div>
    <div class="col-12 text-center pb-28">
      <p-progressSpinner *ngIf="viewModel.loading()" class="w-7 h-7"></p-progressSpinner>
    </div>
  </div>
</div>