<div class="container-fluid min-h-full flex flex-col justify-center">
  <div class="row mb-1">
    <div class="col text-center">
      <img class="img-fluid mx-auto" src="/assets/pictures/logo_p6.png" [alt]="viewModel.appName()"
        [title]="'Logo ' + viewModel.appName()" />
      <h1 class="hidden" aria-hidden="true">Bienvenue sur {{ viewModel.appName() }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col text-center flex flex-col justify-center md:block">
      <a pButton routerLink="/login" class="mx-4 my-4 inline-block min-w-32" title="Se connecter à l'application">
        <span>Se connecter</span>
      </a>
      <a pButton routerLink="/register" class="mx-4 my-4 inline-block min-w-32" title="S'inscrire à l'application">
        <span>S'inscrire</span>
      </a>
    </div>
  </div>
</div>